.hero {
    width: 122.5%;
    min-height: 90vh;
    background: linear-gradient(rgba(8,0,58,1), rgba(8,0,58,0)), 
    url("../../Assets/MenuBG.jpg");
    margin-left: -140px;
    display: flex;
    position: center;
    background-size: cover;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    margin: 10px auto 20px;
    max-width: 300px;
    display: inline-block;
    position: inherit;
    display:x fle;
}

.hero-text h6 {
    background: rgba(0,0,0,0.8);
    padding: 25px 25px;
    border : 3px solid #74bb7f;  
    box-shadow: 0 0 29px 0 #ceffd6; 
}