.navbar {
    width: 100%;
    background: #111111;
    color: #bcbcbc;
    padding: 4px 0%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logonav {
    width: 180px;
    padding-left: 25px;
}

.prof {
    margin: 10px auto, 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 30px;
    font-size: 16px;
}

.sc {
    width: 60px;
    padding-top: 10%;
}

.coins {
    height: 80px;
    width: 50px;
    padding: 0px 0px;
    transform: rotate(180deg);
}