.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Profile {
    font-size: 24px;
    font-weight: 800;
}

.Stick {
    border: 7px solid #111;
    border-radius: 315px;
    width: 200px;
    height: 100px;
    background: #c300cd;
    transform: rotate(90deg);
}

.Coins {
    background: url(./stick-coin.png);
}

.menubg {
    background: url(./MenuBG.jpg);

    
}


.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}