.footer {
    border: 0.95px solid #fff;
    background: #222222;
    width: 122.5%;
    color: #b7b7b7;
    display: flex;
    justify-content: space-between;
    margin-left: -140px;
    
}

.logofoot {
    width: 180px;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: center;
}


ul {
    padding: 30px;
    list-style: none;
    display: inline-block;
    
}

.crosscont {
    border: 0.95px solid transparent;
    width: 250;
    padding-top: 10px;
    padding-bottom: 10px;
}
