@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Zetta', sans-serif
    
}

body {
    background: #5d5d5d;
}

a {
    text-decoration: none;
    color: inherit;
}

