@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@600&display=swap');

:root {
    --font-family: "Lexend Zetta", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: #bcbcbc;
}

body {
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
}
